*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Orgon Plan', sans-serif;
    

}
/* @font-face {
    font-family: 'Orgon Plan';
    src: url(../Orgon-Plan/OrgonPlan-Black.woff);
} */
header{
    height: 100vh;
}
nav{
    border-radius: 5px;
    border: 2px solid rgba(28, 27, 31, 0.30);
    width: 80%;
    height: 72px;
    padding: 0px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 36px;
    z-index: 10;
    transform: translateX(10%);
}

nav img{
    width: 113px;

}

nav ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    gap: 30px;
    }
    nav a{
        text-decoration: none;
        color: #2d3954;
        color: #1C1B1F;
        font-size: 1.25rem;
        font-weight: 400;

    }
    .font{
        color: #1C1B1F;
        font-size: 1.25rem;
        font-weight: 400;
    }
    nav li :hover{
        line-height: 64px; /* 320% */
        
    }
    .nav-men {
        display: none;
        border: none;
        background-color: transparent;
        }
    
    .btn-nav{
        width: 11.625rem;
        border-radius: 5px;
        background: var(--White, #FFFBFE);
        padding: 8px 0px;
        font-size: 1.25rem;
    }
    .en{
        display: none;
    }

    .btn-img{
        width: 16px;
    }
    
    .right {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 16px;

    }
    .right div {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .img-nav-right{
        width: 24px;
    }
    .hero{
        background-image: url(../image/hero-1-bg.png);
        position: relative;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 100%;
        width: 100%;
        
    }
    .hero-img-2{
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: 2;
        
    } 
    .hero-img-1{
        position: absolute;
    }
    .hero-img-3{
        position: absolute;
        bottom: 0px;
        right: 0px;
        transform: translateY(30%);
        z-index: 3;
    }
    .coll{
        height:  65%;
        width: 2px;
        position: absolute;
        bottom: 0px;
        left: 4.625rem;
        /* top: 11.062rem;
        left: 4.625rem; */
        z-index: 8;
        background-color: #F8B11A;
    }
    .left-hero{
        padding-left: 20px;
        position: absolute;
        top: 11.062rem;
        left: 4.375rem;
        z-index: 9;
        width: 46%;
    }
    .left-hero h1{
        color: var(--Black, #1C1B1F);
        font-size: 2rem;
        font-weight: 400;
        line-height: 144.017%; /* 46.085px */
        text-transform: capitalize;
    }
    .red{
        color: var(--Secondary, #C81517);
    }
    .left-hero li{
        color: var(--Black, #1C1B1F);
        font-size: 1.25rem;
        font-weight: 400;
        line-height: 34px; /* 170% */
        list-style-image: url(../image/marker.svg);
        

    }
    .right-hero{
        width: 100%;
        height: 100%;
        
        position: relative;
    }

    .bgcolor{
        background-color: rgba(242, 144, 57, 0.30) !important;
        border-radius: 5px;
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.15), 2px 2px 7px 1px rgba(0, 0, 0, 0.10);
        backdrop-filter: blur(12px);
    }

    /* ---------------------------------------------------------------------- */

    .services{
        margin-top: 6.25rem;
        margin-left: 80px;
        
        
    }
    .s-services{
        /* padding-left: 80px; */
        margin-top: 64px;
        height: 140px;
        position: relative;
        display: flex;
        justify-content: space-around;
        gap: 70px;
        overflow-x: auto;
        
        
    }
    .services-h1{
        padding-left: 20px;
        color: #000;
        font-size: 3.125rem;
        font-weight: 400;
        text-transform: capitalize;
    }

    .btn-service{
        padding: 10px;
        height: 80px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items:center ;
        
        
    }
    .flex-shrink{
        flex-shrink: 0;
    }
    .btn-service img{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    .btn-service button{
        height: 58px;
        padding: 16px;
        display: flex;
        border-radius: 10px;
        border: 1px solid var(--Orange, #F29039);
        justify-content: center;
        align-items: center;
        background-color: white;
        color: #000;
        font-size: 1.25rem;
        font-weight: 400;
        text-transform: capitalize;
        
    }
    .btn-service button:hover{
        background: var(--Primary, #F8B11A);
        color: white;
    }
    .button-top{
        
            position: absolute;
            top: 0;
            flex-grow: 1;

        
    }
    .button-bottom{
        position: absolute;
        bottom: 0;
        flex-grow: 1;
    }
    .row-service
    {
        width: 100%;
        height: 2px;
        background-color: #F8B11A;
        position: absolute;
        top: 50%;
    }
    .coll-service {
        width: 2px;
        height: 130%;
        background-color: #F8B11A;
        position: absolute;
        left: 80px;
    }
    .coll-service2{
        width: 2px;
        height: 100%;
        background-color: #F8B11A;
        position: absolute;
        left: 15px;
        display: none;
    }
    .m-left{
        margin-left: -5px;
    }
    .part-2{
        margin-top: 6.25rem;
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        }
    .cont{
        padding-left: 20px;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        width: 45%;
        position: relative;
    }
    .span-section-3{
        color: #000;
        text-align: justify;
        font-size: 1.25rem;
        font-weight: 400;
    }
    .img-section-3
    {
        max-width: 100%;

    }
    .p-section{
        margin-bottom: 16px;
        color: #000;
        font-size: 2.437rem;
        font-weight: 400;
        text-transform: capitalize;
        list-style-image: url(../image/marker.svg);
    }
    



    @media screen and (max-width:992px) {
        html{
            font-size: 10px;
        }
        nav img{
            width: 78px;
        
        }
        nav ul{
            display:none;
        }
        .nav-men{
            display:block;

        }
        .en{
            display:block;
        }
        .English{
            display:none;
        }
        .btn-nav{
            display: none;
        }
        .left-hero{
            width: 80%;
            padding-right: 20px;
        }
        .right-hero{
            overflow:hidden;
            position: relative;
        }
        .hero-img-3{
            width: 538px;
            left: 20px;
        }
        .part-2{
            flex-direction: column;
        }
        .m-left{
            margin-left: 10px;
            padding-right: 28px;
        }
        .p-section{
            font-size: 24px;

        }
        .cont{
            
            width: 100%;
            justify-content: space-between;
        }
        .order{
            order: -1;
            margin-bottom:20px ;
        }
        .row-service{
            width: 100%;
        }
        .services{
            margin-left: 0px;
        }
        .s-services{
            width: 100%;   
        }
        .coll-service{
            display: none;
    
        }
        .coll-service2{
            display: block;
            height: 100%;
        }
    }
